<!DOCTYPE html>
<html>
  <head>
    <title>GOAT MOMENTS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">GOAT MOMENTS</a></h1>
        <ul class='lists-right'>
        <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
         <% if user_signed_in? %>
          <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li> 
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li> 
         <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
         <% end %>
        <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright PicTweet 2019.
      </p>
    </footer>
  </body>
</html>